**/__pycache__
*/*/__pycache__

*.aux
*.fdb_latexmk
*.tex
*.fls
*.log
*.synctex.gz

sources.txt
**/temp/

**/*_json/

**/legacy/

**/model.pth

**/diagnose_masks.py
**/overfit_test.py

**/split_indices.pt
**/test_metrics.pt
**/best_model.pt
**/todo.txt

**/tables.py
**/model_info.py
**/model_info.txt

src/pipeline/outputs
**/mod.py